comfyui-frontend-package
comfyui-workflow-templates
comfyui-embedded-docs
# torch
# torchsde
# torchvision
# torchaudio
numpy
einops
transformers
tokenizers
sentencepiece
safetensors
aiohttp
sanic
yarl
pyyaml
Pillow
scipy
tqdm
psutil
alembic
SQLAlchemy
filelock
av
comfy-kitchen
comfy-aimdo
requests
simpleeval
blake3

#non essential dependencies:
kornia
spandrel
pydantic
pydantic-settings
PyOpenGL
glfw
